1 Variables and Assignment Statements
Learn how to create a variable and assign a value to it.

1. Add two numbers, type 2 + 2 and run (or press CTRL + Enter). You will get the result of 2
+ 2 = 4.

In [6]:
2+2

4

2. Input a number with exponential input form, type 1.25e3. Run, you will get 1250.0

In [8]:
1.25e3

1250.0

3. Assign a value to variable, type x = 7. Run, the value 7 is assigned to x variable.

In [9]:
x = 7

4. Assign a value from value + another variable, type y = x + 3. Run y will be equal to the
current value of x + 3 which is 7 + 3.

In [11]:
y = x + 3
y

10

5. Show a value inside a variable, type a variable namey. Run to display the result.

In [13]:
y

10

2 Arithematic
Learn how to perform arithmetic calculations.

6. Multiply two numbers, type 3 * 2. Run, you will get 6.

In [14]:
3*2

6

7. Exponential of number can be done by typing ** between two numbers, type 3 ** 2. Run, you
will get 9.

In [15]:
3**2

9

8. Devide two numbers, type 5/2. Run, you will get 2.5

In [16]:
5/2

2.5

9. Devide two numbers and floor the result, type 5 // 2. Run, you will get 2. The result will be
round-down to the least integer number.

In [17]:
5//2

2

10. Devide two numbers and get only the remainder (modulus), type 5 % 2. Run, you will get 1.
The result will be 1.

In [18]:
5%2

1

11. Multiply any number by 0, type 5 * 0. Run, you will always get 0.

In [19]:
5*0

0

12. Devide any number by 0, you will get error becasue the mathematical faq.

In [20]:
9/0

ZeroDivisionError: division by zero

13. Exponential any number by 0, run 5 ** 0. Run, you will always get 1.

In [21]:
5**0

1

14. Play with arithmetic with different types of executed orders.

In [23]:
print(10+5*2)
print(10 + (5 * 2))
print((10 + 5) * 2)
print(10 + 5 * 2 / 4)
print(10 + 5 * 2 / 4)
print(10 + (5 * 2) / 4)
print(10 + 5 ** 2 / 5)
print(10 + (5 ** 2) / 5)
print(10 + 5 ** (2 / 5))

20
20
30
12.5
12.5
12.5
15.0
15.0
11.903653938715879

3 Display Output
Learn how to display output on the screen.

15. Display Hello World on screen, type print('Hello World.'). Run, you will get Hello
World. on screen.

In [26]:
print("Hello World.")

Hello World.

16. Try Print('Hello World.'). Run, you will get an error message because in Python Print
is not equal print.

In [25]:
Print('Hello World.').

SyntaxError: invalid syntax (108272933.py, line 1)

17. To display more than once, try to multiplay the text with * and number of printing.
Try print('Hello World. '*5). Run, you will get Hello World five times, on the same line.

In [27]:
print('Hello World. '*5)

Hello World. Hello World. Hello World. Hello World. Hello World.

18. From #17, Try print(5*'Hello World. '). Run, you will also get Hello World five times,
on the same line.

In [28]:
print(5*'Hello World. ')

Hello World. Hello World. Hello World. Hello World. Hello World.

19. Try print('Hello World.\n'*5). Run, you will also get Hello World five times, but in
different lines.

In [29]:
print('Hello World.\n'*5)

Hello World.
Hello World.
Hello World.
Hello World.
Hello World.

20. Try print('Hello World.'); print('One more time.'). You can create more than one
statement to display text on screen. Run, you will get
Hello World.
One more time.

In [30]:
print('Hello World.')
print('One more time.')

Hello World.
One more time.

21. Try print('Hello World.', end =' '); print('One more time.').
The end = '' force the output to not create a new line. Run, you will get Hello World. One
more time. on the same line.

In [31]:
print('Hello World.', end =' ')
print('One more time.')

Hello World. One more time.

22. You can print multiple words separately on the same line of code.
Try print('Hello World.', 'One', 'more time.'). Run, you will get Hello World. One
more time.

In [32]:
print('Hello World.', 'One', 'more time.')

Hello World. One more time.

23. Format can be decorated by \n to separate line or \t to indent the text. Try
print('This\nis\nnew\nline.').

In [33]:
print('This\nis\nnew\nline.')

This
is
new
line.

24 Print text with value inside a variable, try this
x = 20
print('X is', x)
The result is X is 20.

In [35]:
x = 20
print('X is', x)

X is 20

25. Print multiple values of variables, try

In [36]:
x = 22; y = 13
print('X is', x, 'and Y is', y)

X is 22 and Y is 13

26. Print special character, for intance, " or ', try
print('This is a \'single quote character\'.'), you will get This is a 'single quote
character'.
print('This is a \"double quote character\".'), you will get This is a "double quote
character".

In [37]:
print('This is a \'single quote character\'.')
print('This is a \"double quote character\".')

This is a 'single quote character'.
This is a "double quote character".

4 Input
Learn how to receive input from user

27. Receive an input and print out the result on screen. The default (if not define) will be string
format.

In [2]:
name = input("Enter your name:")
print('Your name is', name)

Your name is nack

28. Receive input as number: integer number (whole) or real number (floating point)

In [8]:
height = int(input('Your height in CM:'))
weight = int(input('Your weight in KG:'))
realNumber = float(input('Input a floating number'))

29. BMI Calculation with Python

In [10]:
h = height / 100
bmi = weight/(h*h)
print(name,'\'s BMI is',bmi)
print(name,'\'s BMI is %.2f' %bmi)

nack 's BMI is 23.76543209876543
nack 's BMI is 23.77

30. Taking multiple input from user with .split() method.
.split() allows you to receive multiple input values by using white space to separate between each
input.

In [12]:
food, drink = input().split()
print(food)
print(drink)

egg
water