1 WK10: Sequences: Lists and Tuples

1.1 Lists

1.1.1 Defining and Accessing data in List

In [204]:
prime_numbers = [1, 3, 5, 7, 9]
pet_animals = ['Cat', 'Dog', 'Bird']
employee_info = ['Alice', 'Manager', 7, 87.65] # Name, Position, Experience,␣Score
numbers = list(range(4)) # list() is a built-in function

In [205]:
print(prime_numbers)
print(pet_animals)
print(employee_info)
print(numbers)

[1, 3, 5, 7, 9]
['Cat', 'Dog', 'Bird']
['Alice', 'Manager', 7, 87.65]
[0, 1, 2, 3]

In [206]:
print(pet_animals[0]) # first index: index 0
print(pet_animals[2]) # last index: index 2
print(pet_animals[-1]) # last index: with -1 means starting from the left of␣the first index
print(pet_animals[1]) # second index: index 1
print(pet_animals[-2]) # last index: with -2 means starting from the␣

Cat
Bird
Bird
Dog
Dog

In [207]:
for prime_number in prime_numbers:
    print('prime_number = ', prime_number)

prime_number =  1
prime_number =  3
prime_number =  5
prime_number =  7
prime_number =  9

In [208]:
index = 0
while index < len(numbers): # numbers = list(range(4)) : 0,1,2,3
    print(numbers[index])
    index +=1 # alternative way of `index = index + 1`

0
1
2
3

In [209]:
holiday_dates = [1, 3, 4, 30]
print('Original Holiday Dates: ', holiday_dates)
holiday_dates[2] = 13 # change from 4 to 13
print('New Holiday Dates: ', holiday_dates)

Original Holiday Dates:  [1, 3, 4, 30]
New Holiday Dates:  [1, 3, 13, 30]

In [210]:
number_a = [1, 2, 3]
number_b = [7, 8, 9]
print(number_a + number_b) # print [1, 2, 3, 7, 8, 9]
# mixed types of data
list_a = ['This week, ']
list_b = ['we have three holidays:']
number_c = [1, 22, 31]
list_all = list_a + list_b + number_c
print(list_all) # ['This week, ', 'we have three holidays:', 1, 22, 31]

[1, 2, 3, 7, 8, 9]
['This week, ', 'we have three holidays:', 1, 22, 31]

1.1.2 List Scicing

In [211]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday']
weekend = days[5:7] # item of index 5 and index 6 - count 5 to N - 1 where N is␣7
long_weekend_1 = days[:3] # index 0 to N - 1 where N is 3
long_weekend_2 = days[3:] # index 3 to END
print(days) # everyday
print(weekend) # ['Saturday', 'Sunday']
print(long_weekend_1) # ['Monday', 'Tuesday', 'Wednesday', 'Thursday']
print(long_weekend_2) # ['Thursday', 'Friday', 'Saturday', 'Sunday']

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
['Saturday', 'Sunday']
['Monday', 'Tuesday', 'Wednesday']
['Thursday', 'Friday', 'Saturday', 'Sunday']

In [212]:
numbers = [1,2,3,4,5,6,7,8,9,10]
all_numbers = numbers[:]
print(all_numbers) # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = numbers[0::2]
print(odd_numbers) # [1, 3, 5, 7, 9]
even_numbers = numbers[1::2]
print(even_numbers) # [2, 4, 6, 8, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

1.1.3 List Operator and Methods Built-in Functions
in is an Operator for searching items in List (is a member of?)

In [213]:
items_number = [111, 222, 333, 666, 555, 444]
search = 111 in items_number
print(search) # True
search = 123 in items_number
print(search) # False
search = 123 not in items_number
print(search) # True

True
False
True

In [214]:
items_string = ['this', 'computer', 'is', 'good']
search = 'this' in items_string
print(search) # True
search = 'is' in items_string
print(search) # True
search = 'this computer' in items_string
print(search) # False
# The difference is that item_string2 is a list of string
# while the item_string3 is a string
items_string2 = ['computer']
search = 'c' in items_string2 # is 'c' a member of this list? No, it is not.
print(search) # False
items_string3 = 'computer'
search = 'c' in items_string3 # is 'c' a member of this string? Yes, it is.
print(search) # False

True
True
False
False
True

In [215]:
my_list = [1, 'a', 'egg', 2.33]
print(my_list) # [1, 'a', 'egg', 2.33]
my_list.append('new item') # add new item after the last element in List
print(my_list) # [1, 'a', 'egg', 2.33, 'new item']
my_list.append(['new new item 1', 1.5e2]) # add new List after the last element␣in List
print(my_list) # [1, 'a', 'egg', 2.33, 'new item', ['new new item 1', 150.0]]
new_list = ['cat', 123]
my_list.append(new_list) # add new List after the last element in List
print(my_list) # [1, 'a', 'egg', 2.33, 'new item', ['new new item 1', 150.0], ['cat', 123]]
# access item in list
print(my_list[0]) # first item which is 1
print(my_list[-1]) # last item (list) which is ['cat', 123]
print(my_list[-1][1]) # last item of the last item (list) which is 123

[1, 'a', 'egg', 2.33]
[1, 'a', 'egg', 2.33, 'new item']
[1, 'a', 'egg', 2.33, 'new item', ['new new item 1', 150.0]]
[1, 'a', 'egg', 2.33, 'new item', ['new new item 1', 150.0], ['cat', 123]]
1
['cat', 123]
123

insert()

In [216]:
employee_info = ['name', 'position']
print(employee_info) # ['name', 'position']
employee_info.insert(1, 'id') # add 'id' at the index 1 of the current list
print(employee_info) # ['name', 'id', 'position']
employee_info.insert(1, 'last_name') # add 'id' at the index 1 of the current␣list
print(employee_info)

['name', 'position']
['name', 'id', 'position']
['name', 'last_name', 'id', 'position']

index()

In [217]:
my_list = [1, 'a', 'egg', 2.33, 'new item', ['new new item 1', 150.0],['cat',123]]

my_index = my_list.index(1) # search for 1
print(my_index) # index = 0

my_index = my_list.index(['cat', 123]) # search for ['cat', 123]
print(my_index) # index = 6

# try to search something that doesn't exist
try:
    my_index = my_list.index('abc')
    print(my_index)
except ValueError:
    print('The item you are looking for is not a member in this list.')

0
6
The item you are looking for is not a member in this list.

sort()

In [218]:
# 15) sorting list
my_numbers = [-1, 20, 40, -1e2]
print(my_numbers) # [-1, 20, 40, -100.0]
my_numbers.sort()
print(my_numbers) # [-100.0, -1, 20, 40]
my_numbers.sort(reverse=True)
print(my_numbers) # [40, 20, -1, -100.0]
my_strings = ['a', 'b', 'abc', 'acb']
print(my_strings) # ['a', 'b', 'abc', 'acb']
my_strings.sort()
print(my_strings) # ['a', 'abc', 'acb', 'b']
my_strings.sort(reverse=True)
print(my_strings) # ['b', 'acb', 'abc', 'a']

[-1, 20, 40, -100.0]
[-100.0, -1, 20, 40]
[40, 20, -1, -100.0]
['a', 'b', 'abc', 'acb']
['a', 'abc', 'acb', 'b']
['b', 'acb', 'abc', 'a']

reverse()

In [219]:
my_numbers = [-1, 20, 40, -1e2]
print(my_numbers)
my_numbers.reverse() # last to first -- reversed order
print(my_numbers)

[-1, 20, 40, -100.0]
[-100.0, 40, 20, -1]

remove()

In [220]:
my_item = [1, 2, 3, 'ant', 'bat', 'cat']
print(my_item) # [1, 2, 3, 'ant', 'bat', 'cat']
my_item.remove('bat') # item 'bat' to be removed
print(my_item) # [1, 2, 3, 'ant', 'cat']
del my_item[2] # index #2 to be deleted
print(my_item) # [1, 2, 'ant', 'cat']

[1, 2, 3, 'ant', 'bat', 'cat']
[1, 2, 3, 'ant', 'cat']
[1, 2, 'ant', 'cat']

min(), max(), mean(), stdev() Functions

In [221]:
students_score = [44, 66, 77, 99, 88, 33]
print(max(students_score)) # find a maximum of a number list 99
print(min(students_score)) # find a minimum of a number list 33
print(sum(students_score) / len(students_score)) # find an average of a␣number list 67.83333333333
my_string = ['ant', 'act', 'cat', 'cow', 'easy', 'enum']
print(max(my_string)) # find a maximum of a string list: enum
print(min(my_string)) # find a minimum of a string list: act
# using statistics lirbary
from statistics import mean, stdev
print(mean(students_score)) # find an average of a number list 67.83333333333
print(stdev(students_score)) # find an standard deviation of a number list ␣25.482673852377946

99
33
67.83333333333333
enum
act
67.83333333333333
25.482673852377946

1.1.4 Copying Lists

In [222]:
list_a = [1, 2, 'ant', 'cat']
print('list_a = ', list_a) # [1, 2, 'ant', 'cat']
list_b = list_a # assign list_a to list_b. both lists point to␣the same memory address
print('list_b = ', list_b) # [1, 2, 'ant', 'cat']
list_a[0] = 123 # affects both list
print('list_a = ', list_a) # [123, 2, 'ant', 'cat']
print('list_b = ', list_b) # [123, 2, 'ant', 'cat']
list_b[3] = 'elephant' # affects both list
print('list_a = ', list_a) # [123, 2, 'ant', 'bat']
print('list_b = ', list_b) # [123, 2, 'ant', 'bat']

list_a =  [1, 2, 'ant', 'cat']
list_b =  [1, 2, 'ant', 'cat']
list_a =  [123, 2, 'ant', 'cat']
list_b =  [123, 2, 'ant', 'cat']
list_a =  [123, 2, 'ant', 'elephant']
list_b =  [123, 2, 'ant', 'elephant']

1.1.5 Two-Dimensional Lists

In [223]:
cars = [['Japan', 'Toyota'],
['US', 'Tesla'],
['Germany','Benz'],
['France','Citron']]
print(cars) # all items in cars
print(cars[0]) # ['Japan', 'Toyota']
print(cars[0][0]) # Japan
print(cars[0][1]) # Toyota
print(cars[2][0]) # Germany
print(cars[2][1]) # Benz
print(len(cars)) # 4 elements (rows)
print(len(cars[0])) # 2 elements in rows 0
print(len(cars[3])) # 2 elements in rows 3
# list of 4 rows and different size collumns
cars_models = [ ['Japan', 'Toyota','Camry', 'Altis','Yaris'],
['US', 'Tesla', 'Model 3', 'Model S'],
['Germany','Benz', 'C-Class', 'E-Class'],
['France','Citroen', 'C4']]

print(cars_models) # All
print(cars_models[0]) # ['Japan', 'Toyota', 'Camry', 'Altis', 'Yaris']
print(cars_models[0][0]) # Japan
print(cars_models[0][1]) # Toyota
print(cars_models[0][2]) # Camry
print(cars_models[0][3]) # Altis
print(cars_models[0][4]) # Yaris
print(cars_models[3]) # ['France', 'Citroen', 'C4']
print(cars_models[3][0]) # France
print(cars_models[3][1]) # Citroen
print(cars_models[3][2]) # C4
print(len(cars_models)) # 4 elements (rows)
print(len(cars_models[0])) # 5 elements in rows 0
print(len(cars_models[3])) # 3 elements in rows 0

[['Japan', 'Toyota'], ['US', 'Tesla'], ['Germany', 'Benz'], ['France', 'Citron']]
['Japan', 'Toyota']
Japan
Toyota
Germany
Benz
4
2
2
[['Japan', 'Toyota', 'Camry', 'Altis', 'Yaris'], ['US', 'Tesla', 'Model 3', 'Model S'], ['Germany', 'Benz', 'C-Class', 'E-Class'], ['France', 'Citroen', 'C4']]
['Japan', 'Toyota', 'Camry', 'Altis', 'Yaris']
Japan
Toyota
Camry
Altis
Yaris
['France', 'Citroen', 'C4']
France
Citroen
C4
4
5
3

In [224]:
for i in range(len(cars_models)):
    for j in range(len(cars_models[i])):
        print(cars_models[i][j], '', end='')
    print('\n')

Japan Toyota Camry Altis Yaris

US Tesla Model 3 Model S

Germany Benz C-Class E-Class

France Citroen C4

In [225]:
i = 0
while i < len(cars_models):
    j = 0
    while j < len(cars_models[i]):
        print(cars_models[i][j], '', end='')
        j += 1
    j = 0
    i += 1
    print('\n')

Japan Toyota Camry Altis Yaris

US Tesla Model 3 Model S

Germany Benz C-Class E-Class

France Citroen C4

1.2 Tuples

In [226]:
my_tuple = (1, 2, 'a', 'bat')
print(my_tuple) # (1, 2, 'a', 'bat')
print(my_tuple[0]) # 1
print(my_tuple[0:2]) # (1, 2)
try:
    my_tuple[0] = 99 # This causes error 'tuple' object does not support␣item assignment
except:
    print('\'tuple\' object does not support item assignment.')

(1, 2, 'a', 'bat')
1
(1, 2)
'tuple' object does not support item assignment.

In [227]:
old_tuple = ('a', 'b', 'c')
print(old_tuple) # ('a', 'b', 'c')
old_tuple += ('x', 'y', 'z')
print(old_tuple) # ('a', 'b', 'c', 'x', 'y', 'z')

('a', 'b', 'c')
('a', 'b', 'c', 'x', 'y', 'z')

Note Create tuple with one element

one_tuple1 = (9,) # this is a tuple. Must end with an empty ,

one_tuple2 = (1) # this is not a tupple, it is an integer. 

Not end with an empty ,

In [228]:
one_tuple1 = (9,)
print(type(one_tuple1)) # <class 'tuple'>
one_tuple2 = (9)
print(type(one_tuple2))

<class 'tuple'>
<class 'int'>

Similar to List, Tuple supports almost every methods: index

(), len(), min(), max(), in operator,

Slicing expression
except the one with changing element: sort(), reverse(), 

remove(), del(), insert(), append().

Try them out.

1.3 Conversion between List and Tuple

1.3.1 List to Tuple

In [229]:
my_list = [1,2,3,'a', ['aa','cc']]
print(my_list) # [1, 2, 3, 'a', ['aa', 'cc']]
my_tuple = tuple(my_list) # conversion from List to Tuple
print(my_tuple) # (1, 2, 3, 'a', ['aa', 'cc'])

[1, 2, 3, 'a', ['aa', 'cc']]
(1, 2, 3, 'a', ['aa', 'cc'])

In [230]:
my_tuple = (7,8,9,'cat', 'dog')
print(my_tuple) # (7, 8, 9, 'cat', 'dog')
my_list = list(my_tuple)
print(my_list) # [7, 8, 9, 'cat', 'dog']

(7, 8, 9, 'cat', 'dog')
[7, 8, 9, 'cat', 'dog']

1.3.3 Be Cautious with Tuple
Any element of a List item can be changed if a Tuple contains a List element.

In [231]:
new_tupple = (1, 2, 3,'a', ['a', 'b']) # contains one list ['a', 'b']
print(new_tupple[4]) # ['a', 'b']
try:
    new_tupple[4] = ['x', 'y'] # This causes error, because Tuple␣cannot be changed
except:
    print('\'tuple\' object does not support item assignment.')
# Let's change one element of a list inside Tupple
print(new_tupple) # (1, 2, 3, 'a', ['a', 'b'])

new_tupple[4][0] = 'new item' # An item inside List in Tupple can␣be changed
print(new_tupple)

['a', 'b']
'tuple' object does not support item assignment.
(1, 2, 3, 'a', ['a', 'b'])
(1, 2, 3, 'a', ['new item', 'b'])