                                        practice_dict_set

September, 2024

1 Dictionaries and Sets (Unordered)

1.1 Dictionaries

1.1.1 Basic Dictionary Operations

In [ ]:
x = "asdfsadsadfsdfsadf"
x = sorted(list(x))
print(x)

In [1]:
stock_codes = { 'ptt': 'PTT Public Company Limited',
               'ptt': 'PTT Exploration And Production',
               'aot': 'Airports Of Thailand Public Company',
                'gulf': 'Gulf Energy Development Public Company',
                'cpall': 'CP All Public Company Limited'}
print(type(stock_codes)) # <class 'dict'>
print(len(stock_codes))

<class 'dict'>
4

In [2]:
stock_price = { 'ptt': 36.72,
                'pttep': 165.03,
                'aot': 71.85,
                'gulf': 56.05, 
                'cpall': 56.05 }

print(type(stock_price)) # <class 'dict'>
print(len(stock_price))

<class 'dict'>
5

In [3]:
# 3) Accessing data with indexing by key
print(stock_codes['ptt']) # PTT Public Company Limited
print(stock_price['ptt']) # 36.72

PTT Exploration And Production
36.72

In [4]:
print('\n=============================')
for stock in stock_codes.values():
    print(stock) # value
    print('\n=============================')
for stock in stock_codes.keys():
    print(stock) # key
    print('\n=============================')
for stock, price in stock_price.items():
    print(f'{stock} current market price is {price} baht.') # print key␣and value
    print('\n=============================')
# %s is a place where a string will be placed
# %2.5f is a place where a floating number with 5 floating points will be placed
for stock, price in stock_price.items():
    print('current price of %s is %2.5f baht.' %(stock, price)) # print key␣

=============================
PTT Exploration And Production

=============================
Airports Of Thailand Public Company

=============================
Gulf Energy Development Public Company

=============================
CP All Public Company Limited

=============================
ptt

=============================
aot

=============================
gulf

=============================
cpall

=============================
ptt current market price is 36.72 baht.

=============================
pttep current market price is 165.03 baht.

=============================
aot current market price is 71.85 baht.

=============================
gulf current market price is 56.05 baht.

=============================
cpall current market price is 56.05 baht.

=============================
current price of ptt is 36.72000 baht.
current price of pttep is 165.03000 baht.
current price of aot is 71.85000 baht.
current price of gulf is 56.05000 baht.
current price of cpall is 56.05000 baht.

Modify a Dictionary

In [5]:
stock_codes['ptt'] = 'New PTT Company Name'
print(stock_codes['ptt']) # New PTT Company Name

New PTT Company Name

In [6]:
stock_price['cpf'] = 25.82 # ther is no key 'cpf' in a dictionary yet, so,␣adding it is OK
print(len(stock_price)) # change from 5 items to 6 from the adding␣statement above
print(stock_price)
# Add a new key:value pair with update() function
stock_price.update({'new_key': 123})
print(stock_price)

stock_price.update({'new_key': 'new_value'}) # replace a 'new_key' key's␣value with 'new_value'
print(stock_price)

6
{'ptt': 36.72, 'pttep': 165.03, 'aot': 71.85, 'gulf': 56.05, 'cpall': 56.05, 'cpf': 25.82}
{'ptt': 36.72, 'pttep': 165.03, 'aot': 71.85, 'gulf': 56.05, 'cpall': 56.05, 'cpf': 25.82, 'new_key': 123}
{'ptt': 36.72, 'pttep': 165.03, 'aot': 71.85, 'gulf': 56.05, 'cpall': 56.05, 'cpf': 25.82, 'new_key': 'new_value'}

In [7]:
del stock_price['aot']
print(len(stock_price)) # 5
print(stock_price) # no 'aot'
# B. use dictionalry.pop() function
stock_price.pop('pttep')
print(len(stock_price)) # 4
print(stock_price) # no 'pttep'

6
{'ptt': 36.72, 'pttep': 165.03, 'gulf': 56.05, 'cpall': 56.05, 'cpf': 25.82, 'new_key': 'new_value'}
5
{'ptt': 36.72, 'gulf': 56.05, 'cpall': 56.05, 'cpf': 25.82, 'new_key': 'new_value'}

Finding a specific key in Dinctionrary

In [8]:
print('gulf' in stock_price) # True
print('aot' not in stock_price) # True, deleted from the example 7)
print('kbank' in stock_price) # False

True
True
False

Convert dictionary to list

In [9]:
st_name = list(stock_price.keys())
print(st_name) # ['ptt', 'gulf', 'cpall', 'cpf']
# 10) Convert Values to List
st_price = list(stock_price.values())
print(st_price) # [36.72, 56.05, 56.05, 25.82]
# 11) Convert items to List
st_items = list(stock_price.items())
print(st_items)

['ptt', 'gulf', 'cpall', 'cpf', 'new_key']
[36.72, 56.05, 56.05, 25.82, 'new_value']
[('ptt', 36.72), ('gulf', 56.05), ('cpall', 56.05), ('cpf', 25.82), ('new_key', 'new_value')]

1.1.2 Dictionary Comparisons

Comparison operators: == and !=

In [10]:
fruits_1 = {'mango': 100, 'durian': 500, 'apple': 100}
fruits_2 = {'durian': 500, 'mango': 100, 'apple': 100}
fruits_3 = {'orange': 77, 'avocado': 88, 'grape': 99}
print(fruits_1 == fruits_2) # True because they have the same key:value␣items regardless of the order
print(fruits_1 == fruits_3) # False because different key:value items
print(fruits_2 == fruits_3) # False because different key:value items

True
False
False

1.1.3 Dictionary Comprehensions

var = {key_name: value_name for key_name, value_name in dict.items()}

In [11]:
# 13) Dictionary Comprehension
# unpack a dictionary into a variable
fruits = {names: prices for names, prices in fruits_1.items()}
print(fruits) # {'mango': 100, 'durian': 500, 'apple': 100}
# unpack a dictionary in reverse order (swap between names and prices) into a␣variable
fruits = {prices: names for names, prices in fruits_1.items()}
print(fruits) # {100: 'apple', 500: 'durian'}
# Be careful, the key must be uniqued, otherwise, the duplicated key will be␣replaced
# Calculate the average score of each students
students_score = {'alex': [99, 98, 97], 'alice': [88, 77], 'alan': [99, 100,99, 100]}
fruits_ave_price = {names: sum(ave)/len(ave) for names, ave in students_score.items()}
print(fruits_ave_price)

{'mango': 100, 'durian': 500, 'apple': 100}
{100: 'apple', 500: 'durian'}
{'alex': 98.0, 'alice': 82.5, 'alan': 99.5}

1.2 Sets

1.2.1 Basic Set Operations

Define Set

In [12]:
shapes = {'triangle','rectangle', 'Pentagon', 'Octagon', 'Pentagon'}
print(shapes) # {'Triangle', 'Rectangle', 'Octagon', 'Pentagon'} # Only␣Pentagon remain
# set by set() function
even_numbers_set = set(range(0,10,2))
print(even_numbers_set) # {0, 2, 4, 6, 8}
integer_set = set(range(-3, 4))
print(integer_set) # {0, 1, 2, 3, -1, -3, -2} <-- no order
integer_list = list(range(-3, 4)) #
print(integer_list) #

{'Pentagon', 'triangle', 'rectangle', 'Octagon'}
{0, 2, 4, 6, 8}
{0, 1, 2, 3, -1, -3, -2}
[-3, -2, -1, 0, 1, 2, 3]

Accessing Set Elements

In [13]:
for item in integer_set:
    print(item)
# 16) Checking if an element is a member of a Set
print(-3 in integer_set) # True
print(10 in integer_set) # False

0
1
2
3
-1
-3
-2
True
False

1.2.2 Set Comparison

In [14]:
print({1, 2, 3} == {3, 2, 1}) # True: both sets have the same eliments␣(no order)
print({1, 2, 3} == {1, 2, 3, 4}) # False: different elements
print({1, 2, 3} != {1, 2, 3, 4}) # True: different elements

True
False
True

In [15]:
print({1, 2} < {1, 2, 3}) # True
print({1, 2} < {1, 2}) # False

print({1, 2} <= {1, 2, 3}) # True
print({1, 2} <= {1, 2}) # True

print({1, 2}.issubset({1, 2, 3})) # True
print({1, 2}.issubset({1, 2})) # True

True
False
True
True
True
True

In [16]:
print({1, 2, 3} > {1, 2}) # True
print({1, 2} > {1, 2}) # False

print({1, 2, 3} >= {1, 2}) # True
print({1, 2} >= {1, 2}) # True

print({1, 2, 3}.issuperset({1, 2})) # True
print({1, 2}.issuperset({1, 2})) # True

True
False
True
True
True
True

1.2.3 Mathematical Operations

In [17]:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
union_ab = set_a.union(set_b)
union_ab2 = set_a | set_b # alternative method with | symbol
print(union_ab) # {1, 2, 3, 4}
print(union_ab2) # {1, 2, 3, 4}

{1, 2, 3, 4}
{1, 2, 3, 4}

In [18]:
intersect_ab = set_a.intersection(set_b)
intersect_ba = set_b.intersection(set_a)
intersect_ba2 = set_b & set_a # alternative method with & symbol
print(intersect_ab) # {2, 3}
print(intersect_ba) # {2, 3}
print(intersect_ba2) # {2, 3}

{2, 3}
{2, 3}
{2, 3}

In [19]:
diff_ab = set_a.difference(set_b)
diff_ba = set_b.difference(set_a)
diff_ba2 = set_b - set_a # alternative method with - symbol
print(diff_ab) # {1}
print(diff_ba) # {4}
print(diff_ba2) # {4}

{1}
{4}
{4}

In [20]:
sym_diff_ab = set_a.symmetric_difference(set_b)
sym_diff_ba = set_b.symmetric_difference(set_a)
sym_diff_ba2 = set_b ^ set_a # alternative method with ^ symbol
print(sym_diff_ab) # {1, 4}
print(sym_diff_ba) # {1, 4}
print(sym_diff_ba2) # {1, 4}

{1, 4}
{1, 4}
{1, 4}

In [21]:
set_c = {'alex', 'alice'}
set_d = {'alan', 'ally'}
set_e = {'alex', 'alan'}
print(set_c.isdisjoint(set_d)) # True
print(set_c.isdisjoint(set_e)) # False

True
False

1.2.4 Operators and Methods (for Mutable Set)

In [22]:
prime_num = {1, 3, 5, 7}
prime_num.update({13}) # cannot use only number, for example, prime_num.update(13) causes an error
prime_num.update({17, 23})
print(prime_num)
prime_num_frozen = frozenset(prime_num)

{1, 17, 3, 23, 5, 7, 13}

In [23]:
prime_num.add(31) # can use a number because it is an element
print(prime_num)

{1, 17, 3, 23, 5, 7, 13, 31}

In [24]:
even_num = {x for x in range(2, 20) if x%2==0} # Set Comprehension
print(even_num)
even_num.remove(10) # remove 10 from a set
print(even_num)

{2, 4, 6, 8, 10, 12, 14, 16, 18}
{2, 4, 6, 8, 12, 14, 16, 18}

In [25]:
even_num.discard(10)
print(even_num)

{2, 4, 6, 8, 12, 14, 16, 18}

In [26]:
even_num.pop() # it removes an item every time it is executed
print(even_num)

{4, 6, 8, 12, 14, 16, 18}

In [27]:
even_num.clear()
print(even_num)

set()